<h2>{{FIRSTNAME}} {{FAMILYNAME}}</h2>
<div typeof="ns5:RolBedienaar ns1:AgentInPositie" resource="{{URI}}">
    <div property="ns9:holds" resource="{{POSITIE_URI}}"></div>
    <div property="ns9:heldBy" resource="{{PERSON_URI}}"></div>
    <div property="ns1:startdatum" datatype="xsd:date" content="2026-07-01"></div>
    <div property="ns2:isBestuurlijkeAliasVan" resource="{{PERSON_URI}}">
        <div typeof="ns11:Person" resource="{{PERSON_URI}}">
            <div property="foaf:familyName" content="{{FAMILYNAME}}">Achternaam: {{FAMILYNAME}}</div>
            <div property="ns10:gebruikteVoornaam" content="{{FIRSTNAME}}">Voornaam: {{FIRSTNAME}}</div>
            <div property="ns10:heeftNationaliteit" resource="http://publications.europa.eu/resource/authority/country/BEL">Nationaliteit: Belgi&#xEB;</div>
            <div property="ns10:geslacht" resource="http://publications.europa.eu/resource/authority/human-sex/MALE">Mannelijk</div>
            <div property="ns7:identifier" resource="{{IDENTIFIER_URI}}">
                <div typeof="ns7:Identifier" resource="{{IDENTIFIER_URI}}">
                    <div property="skos:notation" content="{{RRN}}"></div>
                </div>
            </div>
            <div property="ns10:heeftGeboorte" resource="{{GEBOORTE_URI}}">
                <div typeof="ns10:Geboorte" resource="{{GEBOORTE_URI}}">
                    <div property="ns10:datum" datatype="xsd:date" content="{{BIRTHDATE}}"></div>
                </div>
            </div>
        </div>
    </div>
    <div property="schema:contactPoint" resource="{{CONTACT_URI}}">
        <div typeof="schema:ContactPoint" resource="{{CONTACT_URI}}">
            <div property="schema:contactType" content="Primary">primaire contactgegevens</div>
            <div property="schema:email" content="{{EMAIL}}">email: {{EMAIL}}</div>
            <div property="schema:telephone" content="{{PHONE}}">telefoon: {{PHONE}}</div>
            <div property="ns3:address" resource="{{ADDRESS_URI}}">
                <div typeof="ns3:Address" resource="{{ADDRESS_URI}}">
                    <div property="ns3:thoroughfare" content="Teststraat"></div>
                    <div property="ns6:Adresvoorstelling.huisnummer" content="{{NUMBER}}"></div>
                    <div property="ns3:postCode" content="1000"></div>
                    <div property="ns6:gemeentenaam" content="Brussel"></div>
                    <div property="ns6:land" content="Belgi&#xEB;" lang="nl"></div>
                    <div property="ns3:fullAddress" content="Teststraat {{NUMBER}}, 1000 Brussel"></div>
                </div>
            </div>
        </div>
    </div>
</div>
