<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <title>Mandatarissen</title>
</head>
<body>
<div prefix="xsd: http://www.w3.org/2001/XMLSchema# foaf: http://xmlns.com/foaf/0.1/ skos: http://www.w3.org/2004/02/skos/core# schema: http://schema.org/ ns1: http://data.lblod.info/vocabularies/contacthub/ ns2: http://data.vlaanderen.be/ns/mandaat# ns3: http://www.w3.org/ns/locn# ns5: http://data.lblod.info/vocabularies/erediensten/ ns6: https://data.vlaanderen.be/ns/adres# ns7: http://www.w3.org/ns/adms# ns9: http://www.w3.org/ns/org# ns10: https://data.vlaanderen.be/ns/persoon# ns11: http://www.w3.org/ns/person#">
    <h1>Mandatarissen - {{BESTUUR_LABEL}} (test {{RUN_ID}})</h1>

    {{ENTRIES}}
</div>
</body>
</html>
